/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
    font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

main {
    max-width: 370px;
    width: 100%;
    padding: 0 20px;
}

#layout {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    height: 100vh;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);;
}

.profile-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 370px;
    background: #fff;
    border-radius: 24px;
    padding: 25px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

/*Image*/
.image {
    position: relative;
    height: 170px;
    width: 170px;
    border-radius: 50%;
    background-color: #22b0fc;
    padding: 3px;
    margin-bottom: 10px;
}

.image .profile-img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #fff;
}

/*info*/
.profile-card .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.info .name {
    font-size: 2rem;
    font-weight: 600;
    margin: 10px;
    
}

.info .job {
    font-size: 1.5rem;
    font-weight: 200;
}

/*Social buttons*/
.social-buttons {
  position: relative;
  width: 100%;             
  height: 200px;           
  display: flex;           
  justify-content: center; 
  align-items: center;    
}

ul {
    position: absolute;
    top: 65%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    margin: 0; padding: 0; 
    display: flex; 
}
ul li {
  list-style:none; 
}
ul li a {
  display:block;
  position:relative;
  width: 34px;
  height: 34px;
  line-height: 34px;
  font-size: 1.7rem;
  text-align:center;
  text-decoration:none;
  color:#404040;
  margin: 0 10px;
  transition:.5s;
}
ul li a span {
  position:absolute;
  transition: transform .5s;
}
ul li a span:nth-child(1),
ul li a span:nth-child(3){
  width:100%;
  height:3px;
  background:#404040;
}
ul li a span:nth-child(1) {
  top:0;
  left:0;
  transform-origin: right;
}
ul li a:hover span:nth-child(1) {
  transform: scaleX(0);
  transform-origin: left;
  transition:transform .5s;
}

ul li a span:nth-child(3) {
  bottom:0;
  left:0;
  transform-origin: left;
}
ul li a:hover span:nth-child(3) {
  transform: scaleX(0);
  transform-origin: right;
  transition:transform .5s;
}

ul li a span:nth-child(2),
ul li a span:nth-child(4){
  width:3px;
  height:100%;
  background:#404040;
}
ul li a span:nth-child(2) {
  top:0;
  left:0;
  transform:scale(0);
  transform-origin: bottom;
}
ul li a:hover span:nth-child(2) {
  transform: scale(1);
  transform-origin: top;
  transition:transform .5s;
}
ul li a span:nth-child(4) {
  top:0;
  right:0;
  transform:scale(0);
  transform-origin: top;
}
ul li a:hover span:nth-child(4) {
  transform: scale(1);
  transform-origin: bottom;
  transition:transform .5s;
}

.facebook:hover {
  color: #3b5998;
}
.facebook:hover span { 
  background: #3b5998;
}
.twitter:hover {
  color: #1da1f2;
}
.twitter:hover span { 
  background: #1da1f2;
}
.instagram:hover {
  color: #c32aa3;
}
.instagram:hover span { 
  background: #c32aa3;
}
.linkedin:hover {
  color: #0077B5;
}
.linkedin:hover span { 
  background: #0077B5;
}
.github:hover {
  color: #1d1e1e;
}
.github:hover span { 
  background: #1d1e1e;
}



